.pokemon-card {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 0 0 calc(25% - 16px); /* Esto hará que las tarjetas ocupen la mitad del ancho del contenedor, menos 16px para el margen */
    margin: 8px; /* Añade un margen para separar las tarjetas */
}

.pokemon-stats {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.pokemon-card img {
    height: 30%;
    max-width: 30%;
}

.pokemon-types {
    display: flex;
    gap: 10px;
}

.pokemon-stats span:not(:last-child) {
    margin-right: 10px;
}

.pokemon-card h3 {
    margin-bottom: 5px;
}

.pokemon-card p {
    margin-top: 5px;
}
