.sprites-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.sprites-wrapper h2 {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.sprite {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sprite img {
    max-width: 250px;
    max-height: 250px;
    margin-bottom: 10px;
}

.sprite p {
    font-size: 25px;
    color: #555;
}
